@mixin grid($grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid, 1fr));
}

@mixin custome {
    @media (min-width: 450px) and (max-width: 950px) {
        @content
        
    }
    
}

@mixin mobile_tablet {
    @media (max-width: 767px) {
        @content
    }
    
}
@mixin small {
    @media (min-width: 768px) {
        @content
    }
    
}
@mixin midium {
    @media (min-width: 992px) {
        @content
    }
    
}
@mixin large {
    @media (min-width: 1200px) {
        @content
    }
    
}