.sec-features{
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include large{
            width: 80%;
        }
        .content{
            flex-basis: 50%;
            padding: 30px 0;
            padding-left: 90px;
            @include mobile_tablet{
                flex-basis: 95%;
                padding-left: 20px;
            }
     
  
            .title{
                color: $light_black;
                padding-bottom: 15px;
                width: 80%;
                @include mobile_tablet{
                    width: 100%;
                }
            }
        }
        .items{
            margin-left: 40px;
            li{
                padding-bottom: 15px;
                color: $light_black;
                font-size: 14px;
             
            }
            i{
                color: $main_color;
                margin-right: 8px;
                font-size: 18px;
            }
        }
        img{
            max-width: 100%;
            height: 350px;
            width: 100%;
            flex-basis: 50%;
            background-color: blue;
            @include mobile_tablet{
                flex-basis: 100%;
            }
      


        }
    }
}