.video-section{
    position: relative;
    background-color: $main-color;
    .video{
        width: 100%;
        height: 310px;
        object-fit: cover;
        position: relative;
    

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $over_flow;
        }
      
      
    }
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1{
            color: $white;
            text-transform: uppercase;
            padding-bottom: 15px;
            font-size: 25px;
            @include mobile_tablet{
                font-size: 16px;
                
            }
        }
        .btn{
            font-size: 20px;
            @include mobile_tablet{
                font-size: 18px;
            }
        }
    }
}